.actionDiv{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80vh;
    width: 300px;
    margin-left: 520px;
}

.btn{
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    width: 200px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

.btn i{
    margin-right: 10px;
}

.downButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.dice{
    width: 120px;
    height: 120px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

.scoreInput{
    font-family: 'Indie Flower', cursive;
    height: 50px;
    width: 170px;
    text-align: center;
    font-size: 30px;
    border: none;
    border-bottom: solid #e45d4e;
    border-bottom-width: 5px;
    background: transparent;
    outline: none;
    
}

